.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
div[data-testid="metric"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Centralizar o texto dentro das métricas */
.metric-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.metric-title {
    font-size: 2em;
    font-weight: bold;
}
.metric-value {
    font-size: 4em;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}